@model Book.Models.BookList

@{
    ViewBag.Title = "新增上架書籍";

}
@if (Session["Admin"] != null)
{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="pt-1">
            <main class="main pt-5">
                <div class="container pt-5">

                    <article class="card card-outline ">
                        <div class="card-body">
                            <header>
                                <h4 class="card-title ch">新增商品</h4>
                            </header>
                            <div class="panel-body">
                                <div class="row ch">
                                    <form>
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.bId, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="">
                                                @Html.EditorFor(model => model.bId, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.bId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group pt-2">
                                            @Html.LabelFor(model => model.bTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="">
                                                @Html.EditorFor(model => model.bTitle, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.bTitle, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group pt-2">
                                            @Html.LabelFor(model => model.bOriginal, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="">
                                                @Html.EditorFor(model => model.bOriginal, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.bOriginal, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group pt-2">
                                            @Html.LabelFor(model => model.bAuthor, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="">
                                                @Html.EditorFor(model => model.bAuthor, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.bAuthor, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group pt-2">
                                            @Html.LabelFor(model => model.bYear, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="">
                                                @Html.EditorFor(model => model.bYear, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.bYear, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group pt-2">
                                            @Html.LabelFor(model => model.bPubHouse, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="">
                                                @Html.EditorFor(model => model.bPubHouse, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.bPubHouse, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group pt-2">
                                            @Html.LabelFor(model => model.bISBN, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="">
                                                @Html.EditorFor(model => model.bISBN, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.bISBN, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group pt-2">
                                            @Html.LabelFor(model => model.bTrans, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="">
                                                @Html.EditorFor(model => model.bTrans, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.bTrans, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group pt-2">
                                            @Html.LabelFor(model => model.bMoney, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="">
                                                @Html.EditorFor(model => model.bMoney, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.bMoney, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group pt-2">
                                            @Html.LabelFor(model => model.bLaun, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="">
                                                @Html.EditorFor(model => model.bLaun, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.bLaun, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group pt-2">
                                            @Html.LabelFor(model => model.bIntroduce, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="">
                                                @Html.EditorFor(model => model.bIntroduce, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.bIntroduce, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group pt-2">
                                            @Html.LabelFor(model => model.bURL, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="">
                                                @Html.EditorFor(model => model.bURL, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.bURL, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group pt-2">
                                            @Html.LabelFor(model => model.bQuan, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="">
                                                @Html.EditorFor(model => model.bQuan, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.bQuan, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        @*<div class="form-group col mt-3">\
                                                    <input type="submit" value="添加商品" class="btn btn-default" />
                                                    <button class="cusbutton" style="color: #FFF;">@Html.ActionLink("回到上架商品列", "Index")</button>
                                            </div>*@
                                        <div class="form-group col mt-3">
                                            @*<button type="button" class="btn btn-outline-dark login-btn mb-4" v-on:click="DoEditProfile()">修改個人資料</button>*@

                                            <input type="submit" value="添加商品" class="btn btn-outline-dark login-btn mb-4" />
                                            <a type="button" class="btn btn-outline-dark login-btn mb-4" href="/Edit/Index">回到上架商品列</a>
                                        </div>



                                    </form>
                                </div>
                            </div>
                        </div>
                    </article><!-- /.card -->
                </div>
            </main>
        </div>

    }
}
else
{
    <script type="text/javascript">
        alert("無權限進入");
        location.href = "/Home/index";
    </script>


}





