@using Book.Models
@model Buying


@*@if (Session["BookListId"] != null)
{
    var model = (Buying)Session["BookListId"];

    foreach (var item in model.BookListId)
    {
        <p>您欲購買的 id @item</p>
    }
}*@

@*@if (Convert.ToInt32(Session["Book1Number"]) == 0)
{
    <p>您未選取欲購買數量</p>
}
else if (Convert.ToInt32(Session["Book1Number"]) <= 5)
{
    <p>您欲購買@(Session["Book1Number"])本蕭珊克監獄的救贖</p>
}
else
{
    <p>tooooooo much</p>
}*@

<br />
<h2 id="lef">以下是您的購買清單</h2>
<table>
    <tr>
        <th style="width:130px;">圖片</th>
        <th style="width:160px;">書籍名稱</th>
        <th>作者</th>
        <th>數量</th>
        <th>價格</th>
        <th>總額</th>
    </tr>
    <tr>
        @if (Convert.ToInt32(Session["Book1Number"]) == 0)
        { }
        else if (Convert.ToInt32(Session["Book1Number"]) <= 100)
        {
            <td><a href="/Events/Bookintro1"><img src="/content/Images/xiao.jpg" width="80"></a></td>
            <td><a href="/Events/Bookintro1">蕭珊克監獄的救贖</a></td>
            <td><b>史蒂芬·金</b></td>
            <td><b>@(Session["Book1Number"])</b></td>
            <td><b><span class="red"> 299</span>元</b></td>
            <td><b><span class="red"> @Session["Book1Money"]</span>元</b></td>
        }
        else
        {
            <td><a href="/Events/Bookintro1"><img src="/content/Images/xiao.jpg" width="80"></a></td>
            <td><a href="/Events/Bookintro1">鬼店</a></td>
            <td><b>史蒂芬·金</b></td>
            <td><span class="red">超出庫存</span></td>
            <td><b><span class="red"> 299</span>元</b></td>
            <td><b><span class="red"> @Session["Book1Money"]</span>元</b></td>
        }
    </tr>
    <tr>
        @if (Convert.ToInt32(Session["Book2Number"]) == 0)
        { }
        else if (Convert.ToInt32(Session["Book2Number"]) <= 100)
        {
            <td><a href="/Events/Bookintro2"><img src="/content/Images/guidien.jpg" width="80"></a></td>
            <td><a href="/Events/Bookintro2">鬼店</a></td>
            <td><b>史蒂芬·金</b></td>
            <td><b>@(Session["Book2Number"])</b></td>
            <td><b><span class="red"> 279</span>元</b></td>
            <td><b><span class="red"> @Session["Book2Money"]</span>元</b></td>
        }
        else
        {
            <td><a href="/Events/Bookintro2"><img src="/content/Images/guidien.jpg" width="80"></a></td>
            <td><a href="/Events/Bookintro2">鬼店</a></td>
            <td><b>史蒂芬·金</b></td>
            <td><span class="red">超出庫存</span></td>
            <td><b><span class="red"> 279</span>元</b></td>
            <td><b><span class="red"> @Session["Book2Money"]</span>元</b></td>
        }

    </tr>
</table>
@{ var AmountMoney = Convert.ToInt32(Session["Book1Money"]) + Convert.ToInt32(Session["Book2Money"]);}
<h2 id="lef"><b>總金額為:<span class="red">  @AmountMoney</span>元</b> </h2>
<br />
