@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@*@{
        Layout = "";
    }*@
<style>
    .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
    }
</style>

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2500">
            <img src="~/Content/Images/l1.jpg" class="d-block w-100" alt="...">
            @*<div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>*@
        </div>
        <div class="carousel-item" data-bs-interval="2500">
            <img src="~/Content/Images/l2.jpg" class="d-block w-100" alt="...">

        </div>
        <div class="carousel-item">
            <img src="~/Content/Images/l3.jpg" class="d-block w-100" alt="...">

        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<main>
    <div class="container">
        
        <div class="row ch mt-4">
            @foreach (var booklist in this.Model)
            {
                <div class="col-md-4">

                    <article class="card mb-4">

                        <a href="post-image.html">
                            <img class="card-img" src="@booklist.bURL" alt="">
                        </a>
                        <header class="card-header">
                            <a href="post-image.html">
                                <h4 class="card-title ch">@booklist.bTitle</h4>
                            </a>
                            <div class="card-meta">
                                <a href="#">@booklist.bAuthor</a>
                            </div>
                            <div class="card-meta">
                                <a href="#">價格:@booklist.bMoney</a>
                            </div>
                            <div class="card-meta ellipsis">
                                <a href="#">價格:@booklist.bIntroduce</a>
                            </div>
                            <div class="card-meta d-grid gap-2 d-md-flex justify-content-md-end" >
                                <a href="javascript:void(0);" onclick="AddToCart('@booklist.bId')" class="btn btn-link" style="color: #212529;" role="button">加入購物車</a>
                                <a href="@Url.Action("Details",new { id =booklist.bId})" class="btn btn-link" style="color: #212529;" role="button">詳細資訊</a>
                            </div>
                        </header>
                    </article><!-- /.card -->

                </div>
            }
        </div>
        <!--<article class="card card-outline mb-4">
            <div class="card-body">
                <header>
                    <h4 class="card-title">Basic Table</h4>
                </header>

                <table class="table">
                    <caption>Optional table caption.</caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>-->
        <!-- /.card -->
        <!--<article class="card card-outline mb-4">
            <div class="card-body">
                <header>
                    <h4 class="card-title">Striped Table</h4>
                </header>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>-->
        <!-- /.card -->
        <!--<article class="card card-outline mb-4">
            <div class="card-body">
                <header>
                    <h4 class="card-title">Bordered Table</h4>
                </header>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>-->
        <!-- /.card -->
        <!--<article class="card card-outline mb-4">
            <div class="card-body">
                <header>
                    <h4 class="card-title">Hover rows</h4>
                </header>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>-->
        <!-- /.card -->
        <!--<article class="card card-outline mb-4">
            <div class="card-body">
                <header>
                    <h4 class="card-title">Condensed table</h4>
                </header>

                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>-->
        <!-- /.card -->
        <!--<article class="card card-outline mb-4">
            <div class="card-body">
                <header>
                    <h4 class="card-title">Contextual classes</h4>
                </header>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Column heading</th>
                            <th>Column heading</th>
                            <th>Column heading</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-active">
                            <th scope="row">Active</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                        <tr>
                            <th scope="row">Default</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                        <tr class="table-primary">
                            <th scope="row">Primary</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                        <tr class="table-secondary">
                            <th scope="row">Secondary</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                        <tr class="table-success">
                            <th scope="row">Success</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                        <tr class="table-danger">
                            <th scope="row">Danger</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                        <tr class="table-warning">
                            <th scope="row">Warning</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                        <tr class="table-info">
                            <th scope="row">Info</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">Light</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                        <tr class="table-dark">
                            <th scope="row">Dark</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>-->
        <!-- /.card -->
    </div>
</main>
@*
    <footer class="site-footer bg-dark">
        <div class="container">

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">Privacy policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Terms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Feedback</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Advertise</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="page-contact.html">Contact</a>
                </li>
            </ul>
            <div class="copy">
                &copy; Milo 2022<br />
                All rights reserved
            </div>
        </div>
    </footer>
*@

