@if (Session["Admin"] != null)
{
    { Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

}
else
{
    { Layout = "~/Views/Shared/_NewLayout.cshtml"; }

}

@*@{

    }*@
@*@model List<Book.Models.BookList>*@

@*<br />
    <h2 id="lef">首頁</h2>*@
@*<table>
        <tr>
            <th style="width:130px;">圖片</th>
            <th style="width:130px;">書籍名稱</th>
            <th>作者</th>
            <th>出版年份</th>
            <th>價格</th>
        </tr>
        <tr>
            <td><a href="/Events/Bookintro1"><img src="/content/Images/xiao.jpg" width="80"></a></td>
            <td><a href="/Events/Bookintro1">蕭珊克監獄的救贖</a></td>
            <td>史蒂芬·金</td>
            <td>1982年</td>
            <td>299元</td>
        </tr>
        <tr>
            <td><a href="/Events/Bookintro2"><img src="/content/Images/guidien.jpg" width="80"></a></td>
            <td><a href="/Events/Bookintro2">鬼店</a></td>
            <td>史蒂芬·金</td>
            <td>1977年</td>
            <td>279元</td>
        </tr>
    </table>
        <br/>*@


@*<div class="jumbotron">
        <h2>蝦殼購物網 - 建置中</h2>
        <h6><span></span>@Html.ActionLink("關於網站", "About", new { }, new { @class = "btn btn-primary btn-lg" })</h6>
    </div>*@

@*版本一*@

@*<div class="row">
        @foreach (var booklist in this.Model)
        {

        <div class=" col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("Details",new { id =booklist.bId})">
                    <img href="@Url.Action("Details",new { id =booklist.bId})" style="height: 300px; width: 225px;" src="@booklist.bURL" alt="商品圖片" />
                </a>
                <div class="caption">
                    <h3>@booklist.bTitle</h3>
                    <p>@booklist.bOriginal</p>
                    <p>作者:@booklist.bAuthor</p>
                    <p class="red">價格:@booklist.bMoney</p>
                    <p>
                        <a href="javascript:void(0);" onclick="AddToCart('@booklist.bId')" class="btn btn-primary" role="button">加入購物車</a>
                        <a href="@Url.Action("Details",new { id =booklist.bId})" class="btn btn-default" role="button">詳細資訊</a>
                    </p>
                </div>
            </div>
        </div>
        }
    </div>*@

@*版本二*@

<style>
    .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
    }
</style>

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2500">
            <img src="~/Content/Images/l1.jpg" class="d-block w-100" alt="...">
            @*<div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>*@
        </div>
        <div class="carousel-item" data-bs-interval="2500">
            <img src="~/Content/Images/l2.jpg" class="d-block w-100" alt="...">

        </div>
        <div class="carousel-item">
            <img src="~/Content/Images/l3.jpg" class="d-block w-100" alt="...">

        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<main>
    <div class="container">

        <div class="row ch mt-4">
            @foreach (var booklist in this.Model)
            {
                <div class="col-md-4">

                    <article class="card mb-4">

                        <a href="@Url.Action("Details",new { id =booklist.bId})">
                            <img class="card-img" src="@booklist.bURL" alt="">
                        </a>
                        <header class="card-header">
                            <a href="@Url.Action("Details",new { id =booklist.bId})">
                                <h4 class="card-title ch">@booklist.bTitle</h4>
                            </a>
                            <div class="card-meta">
                                <a href="@Url.Action("Details",new { id =booklist.bId})">@booklist.bAuthor</a>
                            </div>
                            <div class="card-meta">
                                <a href="@Url.Action("Details",new { id =booklist.bId})">價格:@booklist.bMoney</a>
                            </div>
                            <div class="card-meta ellipsis">
                                <a href="@Url.Action("Details",new { id =booklist.bId})">價格:@booklist.bIntroduce</a>
                            </div>
                            <div class="card-meta d-grid gap-2 d-md-flex justify-content-md-end">
                                <a href="javascript:void(0);" onclick="AddToCart('@booklist.bId')" class="btn btn-link" style="color: #212529;" role="button">加入購物車</a>
                                <a href="@Url.Action("Details",new { id =booklist.bId})" class="btn btn-link" style="color: #212529;" role="button">詳細資訊</a>
                            </div>
                        </header>
                    </article><!-- /.card -->

                </div>
            }
        </div>

    </div>
</main>



