@*@{

    }*@
@*@model List<Book.Models.BookList>*@

@*<br />
<h2 id="lef">首頁</h2>*@
@*<table>
        <tr>
            <th style="width:130px;">圖片</th>
            <th style="width:130px;">書籍名稱</th>
            <th>作者</th>
            <th>出版年份</th>
            <th>價格</th>
        </tr>
        <tr>
            <td><a href="/Events/Bookintro1"><img src="/content/Images/xiao.jpg" width="80"></a></td>
            <td><a href="/Events/Bookintro1">蕭珊克監獄的救贖</a></td>
            <td>史蒂芬·金</td>
            <td>1982年</td>
            <td>299元</td>
        </tr>
        <tr>
            <td><a href="/Events/Bookintro2"><img src="/content/Images/guidien.jpg" width="80"></a></td>
            <td><a href="/Events/Bookintro2">鬼店</a></td>
            <td>史蒂芬·金</td>
            <td>1977年</td>
            <td>279元</td>
        </tr>
    </table>
        <br/>*@


@*<div class="jumbotron">
    <h2>蝦殼購物網 - 建置中</h2>
    <h6><span></span>@Html.ActionLink("關於網站", "About", new { }, new { @class = "btn btn-primary btn-lg" })</h6>
</div>*@

<div class="row">
    @foreach (var booklist in this.Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img  style="height: 300px; width: 225px;" src="@booklist.bURL" alt="商品圖片" />
                <div class="caption">
                    <h3>@booklist.bTitle</h3>
                    <p>@booklist.bOriginal</p>
                    <p>作者:@booklist.bAuthor</p>
                    <p class="red">價格:@booklist.bMoney</p>
                    <p>
                        <a href="javascript:void(0);" onclick="AddToCart('@booklist.bId')" class="btn btn-primary" role="button">加入購物車</a>
                        <a href="@Url.Action("Details",new { id =booklist.bId})" class="btn btn-default" role="button">詳細資訊</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>





