
@model IEnumerable<Book.Models.OrderDetail>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@string.Format("訂單編號 {0} 商品列表", this.Model.First().Id)</h2>
<hr />


<table class="table">
    <tr>
        <th>商品名稱</th>
        <th>商品價格</th>
        <th>購買數量</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Name)
            </td>
            <td>
                @Html.DisplayFor(m => item.Price)
            </td>
            <td>
                @Html.DisplayFor(m => item.Quantity)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("回商品列表", "Index", new { }, new { @class = "btn btn-default" })
</p>
