@{
    var currentCart = Book.Models.Cart.Operation.GetCurrentCart();
}
@*<a id="CartDropDown" class="dropdown-toggle" data-toggle="dropdown">
        @string.Format("共 {0} 元 ({1})", currentCart.TotalAmount, currentCart.Count)
        @string.Format("購物車")
        <span class="caret"></span>
    </a>*@

@if (currentCart.Any())
{
    foreach (var item in currentCart)
    {

        <li class="dropdown-item">
            <span class="col-xs-9">@item.bTitle @item.bMoney 元 x @item.Quantity</span>
            <span class="col-xs-9 btn btn-light" onclick="RemoveFromCart('@item.bId')">取消</span>
        </li>
    }
    <li class="dropdown-item text-end">
        @string.Format("共 {0} 元 ", currentCart.TotalAmount)
    </li>

    <div class="btn-group dropdown-item" role="group" aria-label="Basic example">
        <a  class="col-xs-9 btn btn-outline-secondary" href="@Url.Action("Index","Order", new { })">結帳</a>
        <a  class="col-xs-9 btn btn-outline-secondary" onclick="ClearCart()">清空</a>
    </div>
}
else
{
    <a class="dropdown-item">還沒選書呢</a>
}


