<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title 線上書店</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

    @if (Session["LogOut"] != null)
    {
        <script type="text/javascript">
            alert("登出成功!");
        </script>
        Session["LogOut"] = null;
    }
    @if (Session["NoLogin"] != null)
    {
        <script type="text/javascript">
            alert("你還沒登入喔!");
        </script>
        Session["NoLogin"] = null;
    }


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Symbols+Outlined" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            //網頁載入完成時，執行的 function
            console.log("Ready!");
        });

        function AddToCart(productId) {
            //加入編號為 productId 的商品到購物車
            //<param name="productId">The product identifier.</param>
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart", "Cart")',
                data: { id: productId },
                error: function (message) {
                    console.log(message)
                },
                success: function (message) {
                    $('li#Cart').html(message);
                    console.log(productId + "已加入");
                }
            });

        }


        function RemoveFromCart(productId) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("RemoveFromCart","Cart")',
                data: { id: productId },
                error: function (message) {
                    console.log(message);
                },
                success: function (message) {
                    //// 將回傳的購物車頁面，填入 li#Car
                    $('li#Cart').html(message);
                    console.log(productId + "已刪除");
                }
            });
        }

        function ClearCart() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ClearCart","Cart")',
                data: {},
                error: function (message) {
                    console.log(message);
                },
                success: function (message) {
                    $('li#Cart').html(message);
                    console.log("已清空");
                }
            });
        }

    </script>
</head>

<body>

    <div class="container">

        <div id="header">
            <h1><img src="/content/Images/book.png">  線上書店</h1>
        </div>
        <div class="menuStyle">

            @{
                if (Session["UserName"] != null)
                {<a href="/Member/EditProfile"><span class="material-icons-outlined">park</span>哩賀<br>@Session["UserName"]</a>}
            }

            <a href="/"><span class="material-icons-outlined">home</span>首頁</a>
            <a href="/Member/Register"><span class="material-symbols-outlined">face_retouching_natural</span>註冊</a>
            <a href="/Member/Login"><span class="material-symbols-outlined">supervised_user_circle</span>登入/出</a>
            @*<a href="/Events/Comment"><span class="material-icons-outlined">shopping_cart</span>購物車</a>*@
            @*<a href="/Edit/Create"><span class="material-icons-outlined">arrow_circle_up</span>新增書籍</a>*@
            <a href="/Member/EditProfile"><span class="material-icons-outlined">account_circle</span>會員中心</a>
            <a href="https://isbn.ncl.edu.tw/NEW_ISBNNet/H30_SearchBooks.php?&Pact=DisplayAll"><span class="material-icons-outlined">bookmark_border</span>書碼查詢</a>
            <div class="navbar-collapse collapse nav navbar-nav">
                <ul class="nav navbar-nav">
                    <li id="Cart">@Html.Partial("_CartPartial")</li>
                </ul>
            </div>
        </div>
        @RenderBody()

        
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
