<!DOCTYPE html>
<html>
<head>
    <link href="/Content/app.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title 線上書店</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

    @if (Session["LogOut"] != null)
    {
        <script type="text/javascript">
            alert("登出成功!");
        </script>
        Session["LogOut"] = null;
    }

    @if (Session["NoLogin"] != null)
    {
        <script type="text/javascript">
            alert("你還沒登入喔!");
        </script>
        Session["NoLogin"] = null;
    }

    <script type="text/javascript">
        $(document).ready(function () {
            //網頁載入完成時，執行的 function
            console.log("Ready!");
        });

        //$(document).ready(function () {
        //    $('#cartModal').modal('show');
        //});

        function AddToCart(productId) {
            //加入編號為 productId 的商品到購物車
            //<param name="productId">The product identifier.</param>
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart", "Cart")',
                data: { id: productId },
                error: function (message) {
                    console.log(message)
                },
                success: function (message) {
                    $('#CartDropDown').html(message);
                    console.log(productId + "已加入");
                    alert('添加成功');
                }
            });

        }


        function RemoveFromCart(productId) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("RemoveFromCart","Cart")',
                data: { id: productId },
                error: function (message) {
                    console.log(message);
                },
                success: function (message) {
                    //// 將回傳的購物車頁面，填入 li#Car
                    $('#CartDropDown').html(message);
                    console.log(productId + "已刪除");
                }
            });
        }

        function ClearCart() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ClearCart","Cart")',
                data: {},
                error: function (message) {
                    console.log(message);
                },
                success: function (message) {
                    $('#CartDropDown').html(message);
                    console.log("已清空");
                }
            });
        }


    </script>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-white absolute-top fixed-top">
            <div class="container">

                <button class="navbar-toggler order-2 order-md-1" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbar-left navbar-right" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>



                <div class="collapse navbar-collapse order-3 order-md-2" id="navbar-left">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link ch" style="font-size:16px;" href="/">首頁</a>
                        </li>
                        <li class="nav-item dropdown ch" style="font-size:16px;">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">會員中心</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown02">
                                <a class="dropdown-item" href="/Member/EditProfile">修改資料</a>
                                <a class="dropdown-item" href="/Order/MyOrder">確認訂單</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown ch" style="font-size:16px;">
                            <a class="nav-link dropdown-toggle" href="#"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">購物車</a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="CartDropDown" id="CartDropDown">
                                @Html.Partial("_CartPartial")
                            </ul>
                        </li>
                    </ul>
                </div>


                <a class="navbar-brand mx-auto order-1 order-md-3" href="index.html">Bøoking</a>

                <div class="collapse navbar-collapse order-4 order-md-4" id="navbar-right">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link ch" style="font-size:16px;" href="/Member/Register">註冊</a>
                        </li>
                        <li class="nav-item">
                            @if (Session["UserId"] == null)
                            {
                                <a class="nav-link ch" style="font-size:16px;" href="/Member/Login">登入</a>
                            }
                            else
                            {
                                <a class="nav-link ch" style="font-size:16px;" href="/Member/Login">登出</a>
                            }
                        </li>
                    </ul>
                    <form class="form-inline" role="search">
                        <input class="search js-search form-control form-control-rounded me-sm-2 ch" type="text" title="Enter search query here.." placeholder="搜尋" aria-label="Search">
                    </form>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.8/js/app.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
